.juniors-title{
    text-align: center;
    background: var(--green);
    padding: 20px 0;
    color: white;
    font-size: 33px;
    margin-bottom: 80px;
}


.juniors-wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 79px;
}