:root{
  --darkGreen: #012A30;
  --green: #00B534;
  --lightGreen: #88F036;
  --lime: #DBF9D8;
  --white: #FBFDF2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}